# SPDX-FileCopyrightText: 2025 EBFM Authors
#
# SPDX-License-Identifier: BSD-3-Clause
# Auto detect text files and perform LF normalization
* text=auto
examples/Greenland_grid.nc filter=lfs diff=lfs merge=lfs -text
