# SPDX-FileCopyrightText: 2025 The EBFM Authors
#
# SPDX-License-Identifier: CC-BY-4.0

.venv
**__pycache__
**.egg-info
build
Output/*.nc
Reboot/*.nc
.coverage
.tox

# ignore all files in this folder
examples/Greenland_CARRA2
# define exceptions (small files for specific case tracked with git LFS)
!examples/Greenland_CARRA2/README.md
!examples/Greenland_CARRA2/grid.nc*
!examples/Greenland_CARRA2/1990-05-01
